run = ["sh", "-c", "cd apps/admin-dashboard && PORT=3000 npm run start"]
entrypoint = "apps/admin-dashboard/package.json"
hidden = [".config", "package-lock.json", ".next", ".swc"]
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[env]
NODE_ENV = "production"
PORT = "3000"
NEXT_TELEMETRY_DISABLED = "1"

[deployment]
build = ["sh", "-c", "cd apps/admin-dashboard && npm install && npm run build"]
run = ["sh", "-c", "cd apps/admin-dashboard && npm run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
